body {
    margin: 0;
}

.flag {
    width: 100vw;
    height: 100vh;
}

.flag.finished {
    background-image: repeating-conic-gradient(black 0% 25%, white 0% 50%);
    background-size: 20vw 20vw;
}

.fullscreen-toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 1000;
}

#fullscreenButton {
    background-image: url('/assets/Fullscreen.png');
}

#exitFullscreenButton {
    background-image: url('/assets/exitFullscreen.png');
    display: none;
}
